/*============================================================================================ */
/* Start Courses Details Area css
============================================================================================ */
.course_details_area .title {
  font-size: 21px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 22px;
}
.course_details_area .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 74px;
  background: #fdc632;
}

.course_details_left .course_list {
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .course_details_left .course_list {
    padding-left: 0;
  }
}
.course_details_left .course_list li {
  list-style: none;
  margin-bottom: 20px;
}
.course_details_left .course_list li .primary-btn {
  background: #f9f9f9;
  color: #7b838a;
  box-shadow: none;
  font-size: 12px;
  border-radius: 0px;
}
.course_details_left .course_list li .primary-btn:hover {
  background: #fdc632;
  color: #ffffff;
}
@media (max-width: 575px) {
  .course_details_left .course_list li .primary-btn {
    min-width: 100px;
    font-size: 10px;
    padding: 0 10px;
  }
}
.course_details_left .course_list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .right-contents {
    margin-top: 50px;
  }
}
.right-contents ul {
  padding-left: 0;
}
.right-contents ul li {
  list-style: none;
  background: #f9f9f9;
  padding: 10px 22px;
  margin-bottom: 10px;
}
.right-contents ul li a {
  color: #7b838a;
  text-align: left;
}
.right-contents ul li a p {
  margin-bottom: 0px;
}
.right-contents ul li .or {
  color: #002347;
  font-weight: 500;
}
.right-contents .enroll {
  margin-top: 10px;
  width: 100%;
}
.right-contents .reviews span,
.right-contents .reviews .star {
  width: 31%;
  margin-bottom: 10px;
}
.right-contents .avg-review {
  background: #04091e;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0px;
}
.right-contents .avg-review span {
  font-size: 18px;
  color: #fdc632;
}
@media (max-width: 991px) {
  .right-contents .avg-review {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .right-contents .single-reviews .thumb {
    margin-right: 10px;
  }
}
.right-contents .single-reviews h5 {
  display: inline-flex;
}
@media (max-width: 1024px) {
  .right-contents .single-reviews h5 {
    display: block;
  }
}
.right-contents .single-reviews h5 .star {
  margin-left: 10px;
}
@media (max-width: 1024px) {
  .right-contents .single-reviews h5 .star {
    margin: 10px 0;
  }
}
.right-contents .feedeback {
  margin-top: 30px;
}
.right-contents .feedeback textarea {
  resize: none;
  height: 130px;
  background: #f9f9ff;
}
.right-contents .feedeback textarea:focus {
  box-shadow: none;
}
.right-contents .star .checked {
  color: #fdc632;
}
.right-contents .comments-area {
  padding: 0;
  border: 0;
  background: transparent;
}
.right-contents .comments-area .star {
  margin-left: 20px;
}

/* End  Courses Details Area css
============================================================================================ */
/*----------------------------------------------------*/
.section_gap {
  padding: 130px 0;
}
@media (max-width: 991px) {
  .section_gap {
    padding: 70px 0;
  }
}

.section_gap_top {
  padding-top: 130px;
}
@media (max-width: 991px) {
  .section_gap_top {
    padding-top: 70px;
  }
}

.section_gap_bottom {
  padding-bottom: 130px;
}
@media (max-width: 991px) {
  .section_gap_bottom {
    padding-bottom: 70px;
  }
}

/* ============================================================================================ */
/* button style
/* ============================================================================================ */

.primary-btn2 {
  display: inline-block;
  background: #002347;
  padding: 0px 48px;
  color: #fdc632;
  font-size: 13px;
  font-weight: 500;
  line-height: 48px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none !important;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.primary-btn2:hover {
  background: transparent;
  color: #002347;
  border: 1px solid #002347;
}

.right-contents .star .checked {
  color: #fdc632;
}
.right-contents .single-reviews h5 .star {
  margin-left: 10px;
}
@media (max-width: 1024px) {
  .right-contents .single-reviews h5 .star {
    margin: 10px 0;
  }
}
.right-contents .reviews .star {
  width: 31%;
  margin-bottom: 10px;
}
